/* TEMPLATE */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}


* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #212123;
    margin: 4rem;
}
/* TEMPLATE */

/* YOUR CODE IS HERE */

/* YOUR CODE IS HERE */